.footer {
    background: #c0c1c6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    text-align: center;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.footer .logo {
    margin-bottom: 30px;
}

.footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
    color: #000;
}

.footer p {
    font-size: 13px;
    margin:0 0 8px 0;
    color: #000;
}

.footer .container .links {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}